<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB CRUD</title>
</head>
<body>

    <h1>MongoDB CRUD</h1>
    {{message}}

    <ul>
        {{#each data}}
        <li>Name: {{this.name}} - UserId: {{this.userid}} - Password: {{this.password}}</li>
        {{/each}}
    </ul>

</body>
</html>